{
  "videoFiles": {
    "sunny": ["lokales_video_sonne.mp4"],
    "cloudy": ["lokales_video_wolken.webm"],
    "clear-night": ["lokales_video_sterne.mp4"],
    "page-wallbox": ['ch1.webm', 'ch2.webm'],
    "page-settings": ['136511-764417302.webm', '9846-221477041.webm', '32742-393990266.webm', '55389-500762756.webm', '16189-269541588.webm'],
    "page-developer-tools": ['16500-273202599.webm']
  }
}
